{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block monTitre %}
Page introuvable
  
{% endblock %}
{% block body %}
   

    <p>
        La page n'éxiste pas, pour retourner à l'acceuil :  <a href="/">acceuil</a>.
    </p>
{% endblock %}